In [1]:
import pandas as pd # pandas is used to load and manipulate data and for one-hot encoding
import numpy as np # data manipulation
import matplotlib.pyplot as plt # matplotlib is for drawing graphs
import matplotlib.colors as colors
from sklearn.utils import resample # downsample the dataset
from sklearn.model_selection import train_test_split # split the data into training and testing
from sklearn.preprocessing import scale # scale and center data
from sklearn.svm import SVC # creates support vector machine for classification
from sklearn.model_selection import GridSearchCV # cross validation
from sklearn.metrics import confusion_matrix # creates a confusion matrix
from sklearn.metrics import plot_confusion_matrix # draws a confusion matrix
from sklearn.decomposition import PCA # to perform PCA to plot the data

In [23]:
df = pd.read_csv('cadata_2.txt', sep = '  ', header = None, names = ['medval', 'medinc', 'medage', 'rooms',
                                                                   'bedrooms', 'pop', 'households', 'longlat'])

/Users/Ivan/opt/anaconda3/lib/python3.9/site-packages/pandas/util/_decorators.py:311: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  return func(*args, **kwargs)

In [24]:
df.head()

,medval,medinc,medage,rooms,bedrooms,pop,households,longlat
0,452600.0,8.3252,41.0,880.0,129.0,322.0,126.0,3.7880000000000003e+001 -1.2223000000000000e+002
1,358500.0,8.3014,21.0,7099.0,1106.0,2401.0,1138.0,3.7859999999999999e+001 -1.2222000000000000e+002
2,352100.0,7.2574,52.0,1467.0,190.0,496.0,177.0,3.7850000000000001e+001 -1.2223999999999999e+002
3,341300.0,5.6431,52.0,1274.0,235.0,558.0,219.0,3.7850000000000001e+001 -1.2225000000000000e+002
4,342200.0,3.8462,52.0,1627.0,280.0,565.0,259.0,3.7850000000000001e+001 -1.2225000000000000e+002